@model IEnumerable<Product>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col" class="text-right">Price</th>
      <th scope="col" class="text-right">Stock</th>
    </tr>
</thead>
<tbody>
  @foreach (Product p in Model)
  {
    <tr>
      <td>@p.ProductName</td>
      <td class="text-right">@string.Format("{0:c}", p.UnitPrice)</td>
      <td class="text-right">@p.UnitsInStock</td>
    </tr>
  }
  </tbody>
</table>
